.navbar-nav .nav-link {
    color: white !important;
}
body{
    background-color: black;
}

.navbar-nav .nav-link:hover {
    color: #ccc !important; 
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.navbar-toggler {

    border-color: #ffffff; 
}
#hero{
    background-image: url("./Images/Heroback.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 500px;
    margin-bottom: 0px;


}
@media(max-width:450px){
    #hero{
        height: 350px;
    }
}
.hero-h1{
    color: white;
    position:relative;
    padding-top: 70px;

}
.hero-h1 h1{
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
  font-weight: 500;

  font-style: normal;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

}
.hero-h1 p{
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;

}
@media (max-width:520px ){
    .hero-h1 h1{
        font-size: 3rem;
    }
    .hero-h1 p{
        font-size: 1rem;
    }

}
/***** Section *****/  /***** End Section *****/

.item{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(20px);
    
    background: linear-gradient(135deg, #261623, #291e28, #181018);
    
}
#skills .flex-container{
    display: flex;
    gap: 20px;
    padding: 30px;
    
    justify-content: center;
    margin-top:0px;
    padding-top: 5px;
    

}
@media(max-width:600px){
    #skills .flex-container{
        display: flex;
        gap: 20px;
        
        flex-direction: column;
        margin-top: 0px;
        padding-top: 5px;
    
    }

}
.flex-1{
    color: white;
    padding: 5%;
}
.grid-1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-1 h1{
    color: blueviolet;
}
.flex-container .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    color: white;
    width: 100%;
}
/***** Section *****/  /***** End Section *****/
#expertise >h1{
    margin-top: 30px;
    color: white;
    text-align: center;
    
}
#expertise .grid-container{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    gap: 20px;
    margin: 20px;
    padding: 5%;
    padding-top: 3px;

}
@media(max-width:520px){
    #expertise .grid-container{
        grid-template-columns: auto;
    }
}
.item2{
    background: linear-gradient(135deg, #242424, #1a1a1a, #141414);
    border-radius: 10px;
    padding: 20px;
}
#expertise .grid-container .item2 h1{
    color: blueviolet;

}
.item2 p{
    color: white;
}
#contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact .container h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
#contact .container p{
    color: rgba(222, 222, 222, 0.93);
}
.btn-contact{
    background: linear-gradient(135deg, #6a0dad, #9b59b6);
    width: fit-content;
    text-align: center;

    height: 50px;
    width: 160px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    
}   
.btn-contact:hover {
    background: linear-gradient(135deg, #9b59b6, #6a0dad);
    
    
}

footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    background: linear-gradient(30deg, #131112, #342532, #422742);
}